@model MVC.Models.RobotEntity
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    Model接收后台数据：  @Model.IPAddress   <br /><br />

    <p>Use this area to provide additional information.</p>
